body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}


.card-body {
	padding: 0px;
}

.card {
	border-radius: 10px;
	overflow: hidden;
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 415px;
	border-top: #16ff35 solid 3px;
}

.photo img {
	height: 150px;
	width: 150px;

}

.card-body{
	padding: 10px;
	text-align: center;
}


.wrapper{
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 280px;
}

.wrapper{
	display: grid;
	margin:10px;
}


